.homes {
    background-color: var(--bg-color);
    position: relative;
}

.homes__title {
    padding-top: 120px;
}

.homes__variants {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.homes__item {
    max-width: 25%;
}

.homes__image {
    max-width: 100%;
    min-width: 296px;
    height: 296px;
    margin-bottom: 24px;
    object-fit: cover;
}

.homes__description {
    color: var(--accent-blue);
    margin-bottom: 24px;
    line-height: 0.5;
}

.homes__place {
    color: var(--secondary-text);
    line-height: 1.5;
}

._visible {
    display: block;
}
