.hotel-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 80px;
}

.available__hotels {
    padding: 60px 100px;
}


.available__hotels__title {
    text-align: center;
    margin-bottom: 106px;
    font-weight: 500;
    font-size: 40px;
    line-height: var(--unitless-value);
    color: var(--text-color)
}

.js__hidden {
    display: none;
}

.form__field-date {
    position: relative;
}

.react-datepicker {
    position: absolute;
    top: 100%;
    left: 0;
}

.filter-container {
    position: absolute;
    top: 78%;
    left: 59%;
    display: flex;
    justify-content: space-between;
}

.filter__wrapper {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 22px 22px;
    border-radius: 8px;
}

.filter__span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 61px;
}

.filter__btn {
    padding: 5px 10px;
    border-radius: 1px;
    background-color: var(--white);
    border-color: #CECECE;
    color: #CECECE;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.num {
    margin: 0 20px;
}

.vertical-select {
    display: block;
    padding: 5px;
    margin-top: 2px;
}


.date-range-horizontal {
    display: flex;
    gap: 10px;
}


.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    color: #61dafb;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-text {
    margin-top: 16px;
    font-size: 18px;
    color: #3498db;
}