.form__text {
    font-size: 18px;
    font-weight: var(--font-regular);
    color: var(--text-color);
}

.form__last-date {
    width: 105px;
}

.form__first-date {
    width: 105px;
}

.header__description {
    color: var(--white);
    width: 100%;
    padding: 0 0 24px 24px;
    display: flex;
}

.header__form {
    width: 100%;
    margin-bottom: 120px;
    border-radius: 8px;
    background-color: var(--white);
    display: grid;
    grid-template-rows: 64px;
    grid-template-columns: 467px 259px 314px 192px;
    position: relative;
}

.form__destination-search {
    display: none;
}

.form__destination {
    outline: none;
    padding-left: 24px;
    border: 3px solid var(--stroke-color);
    border-right: transparent;
    border-radius: 8px 0 0 8px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.form__date-block {
    border: transparent;
    border-top: 3px solid var(--stroke-color);
    border-bottom: 3px solid var(--stroke-color);
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 0 24px;
}


.form__date {
    outline: none;
    border: none;
    border-radius: 8px;
    margin: 0;
}

.form__check-in {
    display: none;
}

.form__label {
    color: var(--white);
}

.check-in {
    position: absolute;
    top: -55%;
    left: 43.9%;
    transform: translate(-50%, -50%);
}

.destination {
    position: absolute;
    top: -55%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.dash {
    color: #1c1c1c;
}

.dash-first {
    position: absolute;
    top: 32%;
    left: 66.2%;
}

.dash-second {
    position: absolute;
    top: 32%;
    left: 75.5%;
}

.form__check-out {
    display: none;
}


.check-out {
    position: absolute;
    top: -55%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.form__booking-block {
    border: transparent;
    width: 26%;
    display: flex;
}

.form__booking {
    outline: none;
    border: transparent;
    border-radius: 8px;
}

.form__adults-num {
    text-align: end;
    grid-column: 1;
    grid-row: 1;
}

.form__adults {
    text-align: end;
    grid-column: 2;
    grid-row: 1;
}

.form__children-num {
    grid-column: 4;
    grid-row: 1;
}

.form__children {
    grid-column: 5;
    grid-row: 1;
}

.form__room-num {
    text-align: start;
    grid-column: 7;
    grid-row: 1;
}

.form__room {
    text-align: start;
    grid-column: 8;
    grid-row: 1;
}

.form__border-left,
.form__border-right {
    display: none;
}

.form__button {
    color: var(--white);
    background-color: var(--accent-blue);
    font-size: 24px;
    font-weight: var(--font-medium);
    border: 1px solid transparent;
    border-radius: 8px;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.datePicker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker__input-container {
    width: auto;
}

.form__booking {
    outline: none;
    border: transparent;
    border-radius: 8px;
}

.form__booking:focus {
    outline: none;
    box-shadow: none;
}

.form__booking:hover,
.form__booking:active,
.form__booking:focus {
    transform: none;
}
