.form__filter {
    width: 259px;
    min-height: 158px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    background-color: var(--white);
    border: solid var(--stroke-color);
    border-radius: 8px;
    font-size: 16px;
    position: absolute;
    top: 120%;
    right: 15.5%;
    transition: all 0.5s ease-in-out;
}

.form__wrapper {
    display: grid;
    gap: 7px;
}

._filter__on {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.filter__block {
    display: grid;
    grid-template-columns: 50% 14% 22% 14%;
}

.filter__description {
    display: flex;
    align-items: center;
}

.filter__description._count {
    display: flex;
    justify-content: center;
}

.filter__button {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: solid 1px;
}

._active {
    color: var(--accent-blue);
    border-color: var(--accent-blue);
}

._disable {
    color: var(--secondary-text);
    border-color: var(--secondary-text);
}

.filter__subtitle {
    font-size: 12px;
    padding-bottom: 12px;
}

.filter__select {
    width: 100px;
    height: 30px;
    color: var(--accent-blue);
    border-color: var(--accent-blue);
}

.filter__option {
    color: var(--text-color);
}

._active {
    color: var(--accent-blue);
    border-color: var(--accent-blue);
}

._disable {
    color: var(--secondary-text);
    border-color: var(--secondary-text);
}

.filter__subtitle {
    font-size: 12px;
    padding-bottom: 12px;
}

.filter__select {
    width: 100px;
    height: 30px;
    color: var(--accent-blue);
    border-color: var(--accent-blue);
}

.filter__option {
    color: var(--text-color);
}