.form__field {
    flex-basis: 25.5%;
}

.form__field-destination {
    flex-grow: 1;
}

.form__field-date {
    flex-basis: 259px;
}

.form__input {
    font-size: 18px;
    font-weight: 400;
    line-height: var(--unitless-value);
    color: var(--text-color);
    width: 100%;
    padding: 20px 24px;
    border-radius: 8px;
    border: 3px solid transparent;
    cursor: pointer;
}

.form__input:hover {
    outline: none;
    border: 3px solid var(--yellow);
}

.form__input-date {
    padding-left: 22px;
}

.form__btn {
    flex-basis: 193px;
    border-style: none;
    border-radius: 8px;
    font-size: 24px;
    line-height: var(--unitless-value);
    font-weight: 500;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    padding: 20px 57px;
}

.form__field-date {
    position: relative;
}

.react-datepicker {
    position: absolute;
    top: 100%;
    left: 0;
}

.form__field-date {
    position: relative;
}

.react-datepicker {
    position: absolute;
    top: 100%;
    left: 0;
}