.header {
    position: relative;
    z-index: 1;
}

.header__navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 197px;
}

.header__menu {
    display: flex;
    gap: 48px;
    align-items: center;
}

.header__menu-links {
    display: flex;
    gap: 24px;
}

.header__menu-buttons {
    display: flex;
    gap: 24px;
}

.header__btn:last-child {
    display: none;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    font-size: 24px;
    line-height: var(--unitless-value);
    display: inherit;
    position: relative;
}

.header__link:hover:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: var(--yellow);
    width: 50px;
    top: 132%;
    right: 50%;
    transform: translate(50%, 50%);
}

.header__btn {
    background: transparent;
    border: none;
}

.btn-yellow .svg-account {
    fill: var(--yellow);
}
