.svg-sprite {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.svg-logo {
    width: 205px;
    height: 40px;
    fill: var(--blue);
}

.svg-night {
    width: 30px;
    height: 40px;
    fill: var(--white);
}

.svg-account {
    height: 40px;
    width: 40px;
    fill: var(--white);
}

.svg-google {
    width: 140px;
    height: 40px;
}

.svg-apple {
    width: 125px;
    height: 40px;
}

.svg-headphones {
    width: 75px;
    height: 92px;
}

.svg-messages {
    width: 84px;
    height: 84px;
}

.svg-computer {
    width: 100px;
    height: 67px;
}

.svg-like {
    width: 92px;
    height: 84px;
}